<article class="header-contact-container">
  <span>Contact</span>
</article>
<article class="contact-input-container">
  <form [formGroup]="contactForm"
        (ngSubmit)="onSubmit()">
  <p class="txt-contact">
    Name:
    <input class="input-contact"
           type="text"
           placeholder="Add your name here"
           required
           autofocus
           formControlName="name"
    >
  </p>
  <p class="txt-contact">
    Email:
    <input class="input-contact"
           type="text"
           placeholder="Add your email here"
           required
           formControlName="email"
    >
  </p>
  <p class="txt-contact" >
    Information:
    <input class="input-contact"
           type="text"
           placeholder="Add your information here"
           required
           formControlName="information"
    >
  </p>
  <button class="input-contact"
          type="submit"
  >
    Registrar
  </button>
  </form>
</article>
