<article class="panel-navigation-container">
    <span class="panel-navigation-item"
          routerLinkActive="panel-navigation-item-active"
          [routerLink]="navigationItem.route"
          *ngFor="let navigationItem of navigationItems">{{navigationItem.label}}</span>
</article>
