<article class="header-company-container">
  <span>Company</span>
</article>
<article class="company-input-container">
  <form [formGroup]="companyForm"
        (ngSubmit)="onSubmit()">
  <p class="txt-company">
    Name:
    <input class="input-company"
           type="text"
           placeholder="Add your name here"
           required
           autofocus
           formControlName="name"
            >
  </p>
  <p class="txt-company">
    Email:
    <input class="input-company"
           type="text"
           placeholder="Add your email here"
           required
           formControlName="email"
            >
  </p>
  <p class="txt-company" >
    Password:
    <input class="input-company"
           type="text"
           placeholder="Add your password here"
           required
           formControlName="password"
            >
  </p>
  <p class="txt-company" >
    ConfirmPassword:
    <input class="input-company"
           type="text"
           placeholder="Add your password here"
           required
           formControlName="conpassword"
            >
  </p>
  <button class="input-company"
          type="submit">
    Registrar
  </button>
  </form>
</article>
