.company-input-container {
  display: block;
  height: 100%;
  justify-content: center;
}
.header-company-container {
  width: 40%;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}
.txt-company {
  width: 40%;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.input-company {
  width: 400px;
  height: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
