.user-input-container {
  display: block;
  height: 100%;
  justify-content: center;
}
.header-user-container {
  width: 40%;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}
.txt-user {
  width: 40%;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
.input-user {
  width: 400px;
  height: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
