<article class="header-user-container">
  <span>User</span>
</article>
<article class="user-input-container">
  <form [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">

    <p class="txt-user">
      UserName:
      <input class="input-user"
             type="text"
             placeholder="Add your name here"
             required
             autofocus
             formControlName="username">
    </p>
    <p class="txt-user">
      Password:
      <input class="input-user"
             type="text"
             placeholder="Add your email here"
             required=""
             formControlName="password">
    </p>
    <button class="input-user"
            type="submit">
      Login
    </button>
  </form>
</article>
